<a href="https://colab.research.google.com/github/RafaelBNN/if697/blob/main/Projeto_2_IF697.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A ideia vai ser prever o `Place` de um atleta de acordo com `Age`, `BodyweightKg`, `Sex`, `Division`, `IPFPoints` e `Place` de atletas com atributos semelhantes. O professor sugeriu coletar uma amostra dos últimos 5 anos do dataset original e usar 3,5 anos como *training* set, 0,5 anos como *validation* set e o último ano como *test* set.

*Na real eu não entendi se é pra prever a colocação de um atleta de acordo com colocações anteriores deste mesmo atleta ou de acordo com colocações anteriores de atletas semelhantes*

*Atualização 27/07*: Acho que esse problema se aplica mais como um problema de regressão, já que não precisamos prever com 100% de certeza a colocação de um competidor. A parte decimal das predições vai nos dar uma ideia da "certeza" do algoritmo de que o competidor vai ficar naquela colocação.

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/RafaelBNN/if697/main/powerlifting_final2.csv?token=AKYEI53FXBYDBCB4LYZUI6DBADBWQ")

In [3]:
df.head()

   Unnamed: 0  Unnamed: 0.1  ...     TotalKg_disc  lof_outlier
0           0        674206  ...  (487.5, 551.11]            1
1           1        507347  ...  (487.5, 551.11]            1
2           2       1054061  ...  (308.44, 360.0]            1
3           3        587550  ...  (487.5, 551.11]            1
4           4        227497  ...  (551.11, 632.5]            1

[5 rows x 44 columns]

In [4]:
print('Numero de registros de 2015:', len(df[(df['Date']>'2015-01-01')&(df['Date']<'2016-01-01')]))
print('Numero de registros de 2016:', len(df[(df['Date']>'2016-01-01')&(df['Date']<'2017-01-01')]))
print('Numero de registros de 2017:', len(df[(df['Date']>'2017-01-01')&(df['Date']<'2018-01-01')]))
print('Numero de registros de 2018:', len(df[(df['Date']>'2018-01-01')&(df['Date']<'2019-01-01')]))
print('Numero de registros de 2019:', len(df[(df['Date']>'2019-01-01')&(df['Date']<'2020-01-01')]))

Numero de registros de 2015: 3093
Numero de registros de 2016: 3551
Numero de registros de 2017: 4062
Numero de registros de 2018: 4331
Numero de registros de 2019: 1800

Dessa forma, vamos utilizar os anos de 2015 a 2018 para *training* e *validation set* e os registros de 2019 para *test set*.